.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
  position: relative;
  right:50%;
  bottom :50%;
  height : 300%;
}

/*.scan-crop {
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.scan-crop img {
  position: relative;
  right:50%;
  bottom :50%;
  height : 300%;
}*/

.scan-header-wrapper {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flagged-img {
  display: flex;
  justify-content: center;
}
