.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-=-=-=-=-=-=-=-=-=-=LOGIN PAGE=-=-=-=-=-=-=-=-=-=-*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #0E6EB8;
  color: white;
  margin-bottom: 50px;
}

.header-wrapper a {
  color: white;
}

.nav-elements ul {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-elements li {
  margin: 15px;
  font-size: 18px;
}

.logo {
  margin: 15px;
}

.logo p {
  font-size: 35px;
}


.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
}

.description-text {
  width: 70%;
}

footer {
  height: 100px;
  background-color: #0E6EB8;
}

.login {
  padding-bottom: 50px !important;
}

.login-link {
  color: #ffffff !important;
}

/*-=-=-=-=-=-=-=-=-=-=PROFILE PAGE=-=-=-=-=-=-=-=-=-=-*/

.photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  padding : 3%;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*=-=-=-=-=-=-=-=-=-SCAN PAGE=-=-=-=-=-=-=-=-=-=-=-*/



.scan-header-wrapper {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flagged-img {
  display: flex;
  justify-content: center;
}

.image-results-wrapper {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.image-details-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
