<div ng-controller="scanController" ng-hide="view.loading">
  <h3>Results</h3>
  <div>
  CRADLE detected {{view.response.length}} pictures with white eye. White eye can sometimes be a symptom of serious eye disease.
  </div>
  <div ng-repeat="result in view.response" class="crop-large">
    <img ng-src="{{result.body.annotated_image}}"></img>
    <span>Left eye match percentage: {{(result.body.faces[0].left_eye.leuko_prob * 100) + '%'}}</span>
    <span>Right eye match percentage: {{(result.body.faces[0].right_eye.leuko_prob * 100) + '%'}}</span>
    <span><a ng-href="{{result.url}}">Original photo</a></span>
  </div>
</div>
