  <div class="loader" ng-show="view.loading">Loading...</div>
    <div ng-hide="view.loading">
        <div class="scan-header-wrapper">
            <h3>Results</h3>

            <div ng-hide="view.resultFound" class="results-header-wrapper">
              <div>
                <i class="red warning sign icon"></i>
                CRADLE detected {{view.response.length}} pictures with white eye. White eye can sometimes be a sympton of serious eye disease.
              </div>
              <div><a href="http://www.webmd.com/cancer/what-is-retinoblastoma">Click here for suggested next steps.</a></div>
            </div>

            <div ng-show="view.resultFound">
              <div>
                <i class="green checkmark icon"></i>
                CRADLE scanned {{view.response.length}} photos and was not able to detect any pictures with white eye.
              </div>
            </div>


        </div>


        <div ng-repeat="result in view.response">

            <h4 class="ui horizontal divider header">Match {{$index + 1}}</h4>

            <div class="image-results-wrapper">
                <div class="scan-crop flagged-img">
                    <img ng-src="{{result.body.faces[0].annotated_image}}" height="150px">
                </div>

                <div class="image-details-wrapper">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>Eye</th>
                                <th>Match Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Left</td>
                                <td>{{(result.body.faces[0].left_eye.leuko_prob * 100) + '%'}}</td>
                            </tr>
                            <tr>
                                <td>Right</td>
                                <td>{{(result.body.faces[0].right_eye.leuko_prob * 100) + '%'}}</td>
                            </tr>
                        </tbody>
                    </table>
                        <div>
                          <a ng-href="{{result.url}}">View Original <i class="angle double right icon"></i></a>
                        </div>

                    <!-- <button class="ui right labeled icon button">
                        <i class="right arrow icon"></i>
                        <a ng-href="{{result.url}}">View Original</a>
                    </button> -->
                  </div>

            </div>


        </div>


    </div>
